<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
<%= link_to "Create a Posty", new_post_path %>

<% @posts.each do |item| %>
  <strong>Posty Text:</strong>
  <%= item.text %></br>
  <strong>Link:</strong>
  <%= item.url %></br>
  <strong>Public?:</strong>
  <%= item.public %></br>
  <strong>Expired?:</strong>
  <%= item.expired %></br>
</br>
<% end %>

<br />
<br />
<%= link_to "Go Back to homepage", :root %>
